*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    font-family: "Roboto", sans-serif;

}
.container{
    max-width: 90%;
    padding: 34px;
    margin: auto;
}
.container h1,p{
    text-align: center;
    font-family: "Sriracha", cursive;
}
.h1{
    font-size:13px;
}
.p{
    font-size:20px;
}
input,textarea{
    width: 80%;
    margin: 10px;
    padding: 7px;
    font-size: 14px;
    border: 2px solid black
    border-radius: 4px ;
    outline: none;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button.btn {
    
    color: white;
    background-color: purple;
    padding: 7px;
    font-size: 15px;
    border: 2px solid;
    border-radius: 11px;
    cursor: pointer;
}
.IIT
{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.6;
}
.submitMsg
{
    color: #92dc92;
    
}